@import url("../../App.css");

.navbarMobile {
  display: flex;
  width: 100%;
  height: 7rem;

  padding: 1.25rem;
  align-items: center;
}

.navMobileHamburger {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: auto auto auto 1em;
  height: 100%;
  width: 6rem;
  cursor: pointer;
}

.hamburgerClosed,
.hamburgerOpen {
  height: 2px;
  width: 45%;
  position: relative;

  background-color: #ccc;
  transition: 1000ms ease-out;
}

.hamburgerClosed::before,
.hamburgerClosed::after,
.hamburgerOpen::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: 0;

  height: 2px;
  width: 100%;

  background-color: #ccc;
  transition: 1000ms;
}

.hamburgerClosed::after {
  animation: navbarElementInvisible 200ms forwards;
  top: 1rem;
}

.hamburgerOpen {
  transform: rotate(-45deg);
  transition: 1500ms;
}

.hamburgerOpen::before {
  top: 0;
  transform: rotate(-90deg);
  transition: 1000ms;
}

.navSection {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.homeLinkNav h3 {
  font-size: var(--p1);
  margin: 0;
}

.navbarCart {
  margin-right: 1rem;
  width: clamp(1.6rem, 1.3095rem + 1.4524vw, 3.125rem);
}

/* ANIMATIONS */
@keyframes navbarElementInvisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
