.indexPageMain {
  display: grid;
  min-height: 100vh;
  width: 100vw;
  padding: 1rem;
  place-items: center;

  transition: 1000ms ease-in-out;
}
.indexPageMain > section {
  width: 100%;
}

.indexTopCardSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.things,
.indexTopCardSection input {
  width: 100%;
  border-radius: var(--rad1);
  background-color: var(--color2);
}

.things {
  aspect-ratio: 1/0.5;
}

.monkey {
  animation: float 5s ease-in-out infinite;
  filter: drop-shadow(22px);
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.indexTopCardSection input {
  border: 0;
  padding: 1rem;
}

.indexFilterSection {
  background-color: burlywood;

  font-size: small;
}

.indexPhotoGrid {
  background-color: aquamarine;
  font-size: small;
}

.indexCallToActionPhoto {
  background-color: blueviolet;
  font-size: small;
}

.indexNewestStyles {
  background-color: chartreuse;
  font-size: small;
}

.indexEmailSignup {
  background-color: tomato;
  font-size: small;
}

.indexSocialsFooter {
  background-color: violet;
  font-size: var(--p2);
}

.blur {
  filter: blur(var(--blur));
  transition: 1000ms ease-in-out;
}
