.indexPageMain {
  display: grid;
  gap: 1rem;
  width: 100vw;
  min-height: 100vh;
  padding: 1rem;
  place-items: center;
  transition: 1000ms ease-in-out;
}
.indexPageMain > section {
  width: 100%;
}

.indexTopCardSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.topHeroElement {
  width: 100%;
  aspect-ratio: 1/0.5;
  background-color: var(--color2);
}

.indexFilterSection {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.indexPhotoGrid {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.indexPhotoGrid > button {
  width: 5rem;
}

.indexCallToActionPhoto {
  background-color: var(--color2);
  aspect-ratio: 1/0.3;
}

.indexEmailSignup {
  display: flex;
  flex-direction: column;
}

.indexEmailSignup > h4 {
  margin: 2rem 0 0;
}

.emailSignupGroup {
  width: 100%;
  margin: 1rem 1rem 2rem;
}

#emailSignup,
#emailSignupSubmit {
  padding: 0.25rem;
  height: 2rem;
}

#emailSignup {
  width: 60%;
}

#emailSignupSubmit {
  font-size: 0.9rem;
  font-family: "SpaceMono";
  border-radius: 0;
}
.indexSocialsFooter {
  background-color: var(--color2);
  border-radius: 0;
  width: 100vw;
  aspect-ratio: 1/.9;
}

.blur {
  filter: blur(var(--blur));
  transition: 1000ms ease-in-out;
}
