:root {
  /* COLORS */
  --white: #fff;
  --black: #000;

  /* SIZES */
  --p1: clamp(1rem, 0.8095rem + 0.9524vw, 2rem);
  --p2: clamp(1.5rem, 1.2619rem + 1.1905vw, 2.75rem);

  /* BLUR */
  --blur: 1.75px;
}

.AppMain {
  display: grid;
  height: 100vh;
  width: 100vw;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Oswald";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: unset;
}

button {
  outline: none;
  border: none;
  border-radius: 0.4em;

  padding: .5rem;
  aspect-ratio: 2.2/1;
}
